 <div class="container" [@cardState]="state">
            <div class="card hovercard" >
                <div class="message-box" *ngIf="showDialog">
                    
                    {{message}}
                    <div class="col-md-10 dialog" *ngIf="allowToDelete">
                      <button type="button" class="btn btn-xs btn-default" (click)="onClickCancel()">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-xs btn-default" (click)="onClickOk(user.id)">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </div>

                    <div class="col-md-10 dialog" *ngIf="!allowToDelete">
                      <button type="button" class="btn btn-xs btn-default" (click)="onClickCancel()">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </div>
                </div>

                <div class="card-background">
                    <img class="card-bkimg" alt="" src="/assets/images/{{profilePictureId}}.jpg">
                </div>
                <div class="useravatar">
                    <img alt="" src="/assets/images/{{profilePictureId}}.jpg">
                </div>
                <div class="card-info"> <span class="card-title">{{user.firstName}} {{user.lastName}}</span>

                </div>
            </div>

          

            <div class="row action-panel">
                 <div class="col-md-4 col-sm-3 left_panel">
                      <button *ngIf="showActionButtons" type="button" class="btn btn-xs btn-default" (click)="onClickEdit(user.id)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button *ngIf="showActionButtons" type="button" class="btn btn-xs btn-default" (click)="onClickDelete(user.id)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
                <div class="col-md-8 col-sm-4 right_panle">
                
                    <button type="button" class="btn btn-xs btn-default">
                        <span class="glyphicon glyphicon-earphone"></span>
                    </button>
                    
                    <button type="button"  class="btn btn-xs btn-default">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </button>
                </div>
            <div>
         
        </div>