<div class="row">
      <div class="col-sm-8 col-sm-offset-2">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Search..." #searchBox (blur) ="onBlur()" (mousedown)="onMouseDown()" (keyup)="onKeyUp(searchBox.value)">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>

          <div *ngIf="openPanel" class="user_list" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">

            <div class="record" *ngFor="let user of users" (click)="onClick(user.id)">
              <div class="row">
                <div class="col-md-1" style="text-align:center">
                  <div class="card hovercard">
                    <div class="useravatar">
                        <img alt="" src="/assets/images/{{user.id}}.jpg">
                    </div>
                </div>
                </div>
                <div class="col-md-11">
                  {{user.firstName}}
                  <ul class="other_info">
                    <li>Email: {{user.email}}</li>
                    <li>Mobile: {{user.mobile}}</li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
    </div>

   
</div>
